@model OnlineShop.Models.Goods
<div>

    @{
        ViewBag.Title = "Информация о товаре";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h4>Информация о товаре</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
@using (Html.BeginForm("Index", "Cart", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Id)
    <input type="submit" value="Добавить в корзину" class="btn btn-primary" />
}
<p>
    @Html.ActionLink("Назад", "Index")     
</p>
   
        
