@model IEnumerable<OnlineShop.Models.Goods>

@{
    Layout = "~/Views/Home/Index.cshtml";
}

@{
    int i = 0;
    for (; i + 4 < Model.Count(); i += 4)
    {
        <br />
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="row">
                    @if (Model.ElementAt(i).Image != null)
                    {
                        <div class="row text-center">
                            @Html.Raw("<img style='width:200px;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(Model.ElementAt(i).Image) + "\" />")
                        </div>
                    }
                    <div class="row">
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).Name)
                    </div>
                    <div class="row">
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).Price)
                    </div>
                    <div class="row text-center">
                                @Html.ActionLink("Добавить в корзину", "Details", new { id = Model.ElementAt(i).Id }, new { @class = "btn btn-default" })
                            </div>
                        </div>
                    </div>
            <div class="col-md-3 col-sm-6">
                <div class="row">
                    @if (Model.ElementAt(i + 1).Image != null)
                    {
                        <div class="row text-center">
                            @Html.Raw("<img style='width:200px;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(Model.ElementAt(i + 1).Image) + "\" />")
                        </div>
                    }
                    <div class="row">
                        @Html.DisplayFor(modelItem => Model.ElementAt(i + 1).Name)
                    </div>
                    <div class="row">
                        @Html.DisplayFor(modelItem => Model.ElementAt(i + 1).Price)
                    </div>
                    <div class="row text-center">
                        @Html.ActionLink("Добавить в корзину", "Details", new { id = Model.ElementAt(i + 1).Id }, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="row">
                    @if (Model.ElementAt(i + 2).Image != null)
                    {
                        <div class="row text-center">
                            @Html.Raw("<img style='width:200px;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(Model.ElementAt(i + 2).Image) + "\" />")
                        </div>
                    }
                    <div class="row">
                        @Html.DisplayFor(modelItem => Model.ElementAt(i + 2).Name)
                    </div>
                    <div class="row">
                        @Html.DisplayFor(modelItem => Model.ElementAt(i + 2).Price)
                    </div>
                    <div class="row text-center">
                        @Html.ActionLink("Добавить в корзину", "Details", new { id = Model.ElementAt(i + 2).Id }, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="row">
                    @if (Model.ElementAt(i + 3).Image != null)
                    {
                        <div class="row text-center">
                            @Html.Raw("<img style='width:200px;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(Model.ElementAt(i + 3).Image) + "\" />")
                        </div>
                    }
                    <div class="row">
                        @Html.DisplayFor(modelItem => Model.ElementAt(i + 3).Name)
                    </div>
                    <div class="row">
                        @Html.DisplayFor(modelItem => Model.ElementAt(i + 3).Price)
                    </div>
                    <div class="row text-center">
                        @Html.ActionLink("Добавить в корзину", "Details", new { id = Model.ElementAt(i + 3).Id }, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <br />
        @for (; i < Model.Count(); i++)
        {
            <div class="col-md-3 col-sm-6">
                <div class="row">
                    @if (Model.ElementAt(i).Image != null)
                    {
                        <div class="row text-center">
                            @Html.Raw("<img style='width:200px;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(Model.ElementAt(i).Image) + "\" />")
                        </div>
                    }
                    <div class="row">
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).Name)
                    </div>
                    <div class="row">
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).Price)
                    </div>
                    <div class="row text-center">
                        @Html.ActionLink("Добавить в корзину", "Details", new { id = Model.ElementAt(i).Id }, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        }
    </div>
}
