@using System.ComponentModel.DataAnnotations;
@using OnlineShop.Models;
@model IEnumerable<OnlineShop.Models.Order>

@{
    ViewBag.Title = "Заказы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryAddressId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPayed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => ((OrderStatus)item.Status).GetAttribute<DisplayAttribute>().Name)
        </td>
        <td>
            @Html.ActionLink(item.Buyer.AspNetUsers.Name, "Details", "User", new { id = item.Buyer.UserId}, htmlAttributes: null)
        </td>
        <td>
           @if (item.ManagerId != "default")
           {
            <span>
                @item.Employee.AspNetUsers.Name
                @item.Employee.AspNetUsers.Surname
            </span>
           }
           else
           {
                <span>Не обработан</span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.Postcode), 
            @Html.DisplayFor(modelItem => item.Address.Country), 
            @Html.DisplayFor(modelItem => item.Address.Region), 
            @Html.DisplayFor(modelItem => item.Address.City),
            @Html.DisplayFor(modelItem => item.Address.Street),
            @Html.DisplayFor(modelItem => item.Address.House),
            @Html.DisplayFor(modelItem => item.Address.Flat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => ((PaymentType)item.PaymentType).GetAttribute<DisplayAttribute>().Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPayed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCost)
        </td>
        <td>
            @if (User.IsInRole("Manager"))
            {
                if ((short)OnlineShop.Models.OrderStatus.Created == item.Status)
                {
                    @Html.ActionLink("Подтвердить", "Confirm", new { id = item.Id }, new { @class = "btn btn-default" })
                }
                else if ((short)OnlineShop.Models.OrderStatus.Payed == item.Status)
                {
                    @Html.ActionLink("Отправить", "Send", new { id = item.Id }, new { @class = "btn btn-default" })
                }
            }
            
        </td>
        <td>
            @Html.ActionLink("Детали", "Details", new { id = item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
        </td>
    </tr>
}
</table>
